@using Microsoft.AspNetCore.Localization
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";

    string impressumUrl = Settings.UrlImpressum;
    string apiUrl = Settings.UrlApi;
}
<script>
    $(document).ready(function() {
        if($.cookie('AuthKey') != undefined)
        {
            $("#form").loading('start');
            $.ajax({
                url:"/Proxy?Api=/Authentication/Logout",
                type:"PUT",
                success: function(res){
                     $("#form").loading('stop');
                     $.removeCookie('AuthKey', { path: '/' });
                },
                error: function(e){
                    $("#form").loading('stop');
                }
            });
            
        }
    });
    

    function doSubmit(){
        let mail = $("#mail").val();
        let password = $("#password").val();
        
        let data = { 
            mail: mail, 
            password: password 
        };

        if(!validateData(data)){
            notify({
	                type: "error",
	                title: "@Localizer["Error"]",
	                message: "<p>@Localizer["Some fields were not filled out correctly"]</p>",
	                position: {
	                    x: "right",
	                    y: "top"
	                },
	                autoHide: true,
	                delay: 4000
                });

            return;
        }

        $("#form").loading('start');
        $.ajax({
            url:"/Proxy?Api=/Authentication/Login",
            type:"POST",
            data:JSON.stringify(data),
            dataType:"json",
            success: function(res){
                $.cookie('AuthKey', res.authKey, {
                    expires: 10, 
                    path: '/',
                    secure: true
                });
                window.location = "/";
            },
            error: function(e){
                console.log(e);
                $("#form").loading('stop');

                let errTxt = "@Localizer["API connection failed"]";
                if(e.responseJSON != undefined)
                {
                    switch (e.responseJSON.errorCode) {
                      case "USER_NOT_FOUND":
                         errTxt = "@Localizer["User not found"]";
                        break;
                      case "USER_BLOCKED":
                        errTxt = "@Localizer["User is blocked"]";
                        break;
                      case "USER_INVALID_PASSWORD":
                        errTxt = "@Localizer["Password is invalid"]";
                        break;
                    } 
                }

                notify({
	                type: "error", //alert | success | error | warning | info
	                title: "@Localizer["Error"]",
	                message: "<p localize-content>"+errTxt+"</p>",
	                position: {
	                    x: "right",
	                    y: "top"
	                },
	                autoHide: true,
	                delay: 4000
                });
            }
        });

        return false;
    }

    function validateData(data){
        if(data.mail.length <= 0){
            $("#mail").focus();
            return false;
        }
        
        if (data.password.length <= 0){
            $("#password").focus();
            return false;
        }

        if(/\S+@@\S+\.\S+/.test(data.mail) === false){
            $("#mail").focus();
            return false;
        }

        return true;
    }
</script>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/img/LoginThemeImapge.jpg"
                                 alt="login form"
                                 class="img-fluid" style="border-radius: 1rem 0 0 1rem" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center" id="form">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form onSubmit="return false;">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <img src="@Settings.UrlLogo" style="max-height:150px; max-width:100%"/>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;" localize-content>Please enter your login-data</h5>

                                    <div class="form-outline mb-4">
                                        <input type="email" id="mail" class="form-control form-control-lg" />
                                        <label class="form-label" for="mail" localize-content>Email address</label>
                                        <script>
                                            $("#mail").on('keypress',function(e) {
                                                if(e.which == 13) {
                                                    $("#password").focus();
                                                }
                                            });
                                       </script>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" class="form-control form-control-lg" />
                                        <label class="form-label" for="password" localize-content>Password</label>
                                        <script>
                                            $("#password").on('keypress',function(e) {
                                                if(e.which == 13) {
                                                    $("#btnLogin").click();
                                                }
                                            });
                                       </script>
                                    </div>

                                    <div class="form-outline m-3 float-end">
                                        <language-nav cookie-handler-url="?lng={0}"></language-nav>
                                        <script>
                                            $(document).ready(function(){
                                                $('#dropdownLang').attr("data-bs-toggle", "dropdown");
                                            });
                                        </script>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button" id="btnLogin" onclick="doSubmit()" localize-content>Login</button>
                                    </div>
                                    
                                    @if (!string.IsNullOrEmpty(impressumUrl))
                                    {
                                        <a href="@impressumUrl" class="small text-muted">Impressum</a>
                                    }
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>