@using System.Web
@using System.Text.RegularExpressions
@model ResourceViewModel
@{
    ViewData["Title"] = "Home Page";


    User user = new User();
    if (Context.Items.ContainsKey("User"))
    {
        user = Context.Items["User"] as User;
    }
}
<div class="container px-4 px-lg-5">

    <!-- Heading Row-->
    <div class="card text-white bg-secondary">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-lg-4">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="@Model.Resource.Image" alt="@Model.Resource.Name" style="width:100%;">
            </div>
            <div class="col-lg-6 mx-5">
               <h1 class="font-weight-light">@Model.Resource.Name</h1>
               <p>@Model.Resource.Description</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row gx-4 gx-lg-5 align-items-center">
         <div class="col-md-4">
            <a class="btn btn-success mb-3 w-100" href="/Event/New?ResourceId=@Model.Resource.Id" localize-content>Add event</a>
         </div>
         @if (user.Role == Oposed.Enum.UserRole.Admin)
         {
              <div class="col-md-4">
                 <a class="btn btn-primary mb-3 w-100" href="/Resource/@Model.Resource.Id/Edit" localize-content>Edit</a>
              </div>
              <div class="col-md-4">
                 <a class="btn btn-danger mb-3 w-100" href="#!" localize-content>Delete</a>
              </div>
         }
    </div>
    <br/>
    <div class="row align-items-center">
        <div class="overflow-auto" style="width:100%">
            @Html.RenderPartialAsync("_EventWithScheduleList", Model.EventWithFrom)
        </div>
    </div>
</div>