@{
    User user = new User();
    if (Context.Items.ContainsKey("User"))
    {
        user = Context.Items["User"] as User;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oposed</title>
    <link rel="icon" href="@Settings.UrlLogo" type="image/x-icon">
	<link rel="shortcut icon" href="@Settings.UrlLogo" type="image/x-icon">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Oposed.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/qrcodejs/qrcode.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery-notify/jquery.notify.css" />
    <link rel="stylesheet" href="~/lib/jquery-tokenize2/tokenize2.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-smartwizard/smart_wizard_all.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-richtext/richtext.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css">
    <script src="~/js/canvas2image.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>  
    <script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/lib/jquery-loading/jquery.loading.min.js"></script>
    <script src="~/lib/jquery-notify/jquery.notify.min.js"></script>
    <script src="~/lib/jquery-tokenize2/tokenize2.min.js"></script>
    <script src="~/lib/jquery-smartwizard/jquery.smartWizard.min.js"></script>
    <script src="~/lib/jquery-richtext/jquery.richtext.min.js"></script>
    <script src="~/lib/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/lib/qrcodejs/qrcode.min.js"></script>
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container px-5">
            <a class="nav-link active" aria-current="page" href="/">
                <img src="@Settings.UrlLogo" style="max-height:60px; max-width:100%"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/Events"><i class="bi bi-calendar3"></i> <span localize-content>Events</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/Notifications"><i class="bi bi-bell"></i> <span localize-content>Notifications</span></a></li>
                    @if (user.Role == Oposed.Enum.UserRole.Admin)
                    {
                        <li class="nav-item"><a class="nav-link" href="/Tags"><i class="bi bi-gear"></i> <span localize-content>Tag-Manager</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/Users"><i class="bi bi-people"></i> <span localize-content>Users</span></a></li>
                    }
                    <li class="nav-item"><a class="nav-link" href="/User/Login"><i class="bi bi-door-closed"></i> <span localize-content>Logout</span></a></li>
                </ul>
            </div>
            <div class="px-3" style="font-size:15px;">
                <small style="font-size:10px;" localize-content>Logged in as:</small><br/>
                <b>@user.Name @user.Surname</b> 
            </div>
            <img class="rounded-circle" src="@user.Avatar" style="height:40px">
	    </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
